#doggo{
width: 20%;
height: 20%;
padding-top:auto;
margin: auto;

display:flex;
justify-content: center;
align-items: center;

-webkit-mask-image:-webkit-gradient(linear, left center, right center,
color-stop(0, transparent),
color-stop(.10, rgba(0,0,0,.5)),
color-stop(.25, black),
color-stop(.75, black),
color-stop(.90, rgba(0,0,0,.5)),
color-stop(1, transparent));
}

#calculator{
display:flex;
align-items: center;
justify-content: center;
background-color:pink;
margin: 50px 725px 50px 700px;
padding: 50px 0px 450px 0px;
box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
border-radius: 5%;
}

#menekki{
    position: absolute;top:25%;left: 40%;
}

#paino{
    position: absolute;top:30%;left: 40%;
}

#kginput{
    width: 140px;
    height: 75px;
    font-size: 50px;
    text-align:right;
    border-radius: 10%;
}

#kg{
    position: absolute;top:35%; left: 40%;
 
display:flex;
align-items: center;
justify-content: center;
}

#hinta{
    position: absolute;top:45%; left: 40%;
}

#ammatti{
    position: absolute;top:50%;left: 40%;
}

#total{
    position: absolute;top:65%; left: 40%;
}

#sum{
    position: absolute;top:72%; left: 40%;
    width: 140px;
    height: 75px;
    font-size: 50px;
    text-align:right;
    border-radius: 10%;
}

#euro{
    position: absolute;top:66%; left: 48%;
    font-size: 500%;
}

#calculate{
  font-family: sniglet;
    position: absolute;top:65%; left: 53%;
    width: 140px;
    height: 75px;
    font-size: 23px;
    font-weight: bold;
  }

#reset{
  font-family: sniglet;
    position: absolute;top:75%; left: 53%;
    width: 140px;
    height: 75px;
    font-size: 23px;
    font-weight: bold;
  }

/*the container must be positioned relative:*/
.custom-select {
    position: absolute;top: 60%;left: 40%;
    font-family: sniglet;
    font-weight: bold;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: black;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    font-size: large;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: gray;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
