#doggo{
width: 20%;
height: 20%;
/*border: 2px solid;
border-image: linear-gradient(to left, rgba(78, 137, 176, 1) 1%, rgba(115, 192, 85, 1) 100%);
border-image-slice: 1;*/
padding-top:auto;
margin: auto;

display:flex;
justify-content: center;
align-items: center;

-webkit-mask-image:-webkit-gradient(linear, left center, right center,
color-stop(0, transparent),
color-stop(.10, rgba(0,0,0,.5)),
color-stop(.25, black),
color-stop(.75, black),
color-stop(.90, rgba(0,0,0,.5)),
color-stop(1, transparent));
}

#calculator{
display:flex;
align-items: center;
justify-content: center;
}

div{
    border-style: solid 50px;
}